/*.img {
    width: 250px;
}*/

   

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', -serif;
}
body{
    padding-left: 50px;
    font-size: 120%;
    background-color: #00aae4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     
}
.contenedor-header{
    background-color: #00aae4;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: blue;
    box-shadow: 2px 5px 5px 0px blue;
}
.nav-responsive{
    background-color: blue;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* poner un marco*/
.container{
 /*   position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: antiquewhite;
    margin: 50px;
    box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
    border-left: 50px solid antiquewhite;
    border-right: 50px solid antiquewhite;*/
}
.container .inicio
{
 position: relative;
 display: grid;
 grid-template-columns: 1fr 2fr ;
 padding: 40px;
 padding-bottom: 0;
}
.container .inicio .imgCV
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.container .inicio .imgCV .caja
{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius:50%;
    overflow: hidden;
    aspect-ratio: 1;
}
.container .inicio .imgCV .caja .img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;

}
.container .inicio .profileText
{
position: relative;
padding: 30%;
display: flex;
align-items: center;
}
.container .inicio .profileText h3
{
font-size: 3em;
letter-spacing: O.1em;
line-height: 1.2em;
font-weight: 600;
color:black;
}
.container .inicio .profileText h3 span
{
position: relative;
font-size: 0.8em;
font-weight: 300;
top: -10px;

}

/*.container .contenBox
{
position: relative;
min-height: 500px;
display: grid;
grid-template-columns: 1fr 2fr;
padding: 0 40px 40px;

}*/
.container .contenBox h3
{
border-left: 4px solid yellow;
padding-left: 10px;
line-height:1em ;
font-weight: 600;
color: black;
letter-spacing:  0.1em;
margin-bottom: 20px;
margin-top: 50px;
}
.container .contenBox ul
{
    position: relative;
    margin: 10px 0;
}
.container .contenBox ul li
{
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: black;
    cursor: pointer;
    display: flex;

}
.container .contenBox ul li ion-icon
{
    font-size: 1.2em;
    margin-right: 10px;
    
}
.container .contenBox ul.formacion li
{
flex-direction: column;
margin: 25px 0;
}
h5
{
    color: blue;
}
h4
{
    color: black;
    font-weight: 500;
    margin: 5px 0;
}
h6
{
    color: darkblue;
    font-weight: 300;
    font-size: 1em;
}

.Idiomas li
{
    flex-direction: column;
}
.idiomas li span
{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.idiomas .percent
{
    position: relative;
    width: 100%;
    background: burlywood;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
   
}
.idiomas .percent div
{
position: absolute;
top: 0;
left: 0;
height: 100%;
background: blue;
}
.container .contenBox ul.intereses
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.container .contenBox ul.intereses li
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.container .contenBox ul.intereses li .icon
{
    position: relative;
    width: 40px;
    height: 40px;
    background: blue;
    color: aliceblue;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container .contenBox ul.intereses li .icon ion-icon
{
 color: white;
 margin-right: 0;
}
p
{
    font-style: 300;

}

.lenguajes .caja
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;

}
.lenguajes .caja h4
{
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
}
.lenguajes .caja .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: burlywood;
    
}
.lenguajes .caja .percent div
{
    position: absolute;
    top: 10;
    left: 0;
    height: 100%;
    background: blue ;
}
.habilidades .blandas .caja
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.habilidades .blandas .caja h4
{
        color: black;
        font-weight: 500;
        margin-bottom: 5px;
} 
@media screen and(max-width:480px){
    body{
        background-color: #1CB698;
    }
}